body {
  background-image: url(img/background.png);
  font: 500 22px/26px museo_sans_cyrl, arial, helvetica, sans-serif;
  margin: 0;
}

.header {
  display: flex;
  justify-content: space-between;
  margin: auto;
  width: 84%;
  padding-top: 89px;
  margin-bottom: 130px;
}

.menu {
  display: flex;
  align-items: center;
  font: 700 22px/26px museo_sans_cyrl, arial, helvetica, sans-serif;
}

.menu__item {
  margin-right: 34px;
  text-decoration: none;
  color: #f8eee4;
  transition: opacity .5s;
}

.menu__item:last-child {
  margin-right: 0;
}

.menu__item:hover {
  opacity: .3;
}

.content-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 8%;
}

.info-content__img {
  margin-bottom: 9px;
}

.info-content__description {
  margin: 0 0 55px 0;
  color: #F8EEE4;
  white-space: pre-line;
}

.img-content {
  display: flex;
  align-items: center;
}

.img-content__img {
  margin-right: 34px;
  width: 284px;
  height: 380px;
}

.img-content__img_big {
  margin-right: 34px;
  width: 317px;
  height: 422px;
}

.img-content__img:last-child {
    width: 254px;
    margin-right: 0;
}

.info-content__button {
  display: inline-block;
  font: 700 22px/26px museo_sans_cyrl, arial, helvetica, sans-serif;
  background: #D4BEA3;
  color: #fff;
  padding: 17px 87px;
  text-decoration: none;
  border-radius: 48px;
  transition: opacity .5s;
}

.info-content__button:hover {
  opacity: .5;
}
